* {
    color: blue;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main {
   display: flex;
}
.left {
   width: 30%;
   border: 3px solid cornflowerblue;
   box-shadow: 3px 3px 3px crimson;
   margin: 3px;
}
img {
    width: 95%;
}
.right {
margin: 3px;
width:65%;
border: 2px solid chartreuse;
box-shadow: 3px 3px 3px crimson;
}
.cr {
    color: green;
}
.skills {
    background-color: chocolate;
    color: cyan;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rebeccapurple;
    padding: 3px;
    border-radius: 3px;
}